main {
  position: relative;
  margin: 0 auto;
  border: 2px outset #ddd;
  font-family: sans-serif;
  user-select: none;
  font-size: 16px;
}

button {
  background: #eee;
  border: 2px outset #ddd;
  text-align: center;
}

.title-bar,
.alert-header {
  position: relative;
  padding: 2px 5px;
  background: #006;
  color: #fff;
  font-weight: bold;
}

  .title-bar button,
  .alert-header button {
    position: absolute;
    display: inline-block;
    top: 1px;
    right: 1px;
    width: 20px;
    height: 20px;
    padding: 0;
  }

h1 {
  margin: 0;
  font-size: 1em;
}

.alert {
  position: absolute;
  width: 100%;
}

  .alert-inner {
    margin: 40px auto;
    max-width: 200px;
    background: #ddd;
    border: 2px outset #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    text-align: center;
  }

  .alert-content {
    padding: 5px 5px;
  }

  .alert-content button {
    margin: 5px 0;
  }

.status {
  position: relative;
  background: #ddd;
  height: 26px;
  border-bottom: 2px outset #ddd;
}

  .mines-remaining,
  .time-elapsed {
    position: absolute;
    margin: 2px 0;
    padding: 0 2px;
    width: 45px;
    height: 22px;
    line-height: 22px;
    font-family: monospace;
    text-align: right;
    background: black;
    color: red;
  }

  .mines-remaining {
    left: 0;
  }

  .time-elapsed {
    right: 0;
  }

  .game-state {
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    font-size: 18px;
    text-align: center;
  }

.mine-field {
  display: table;
  table-layout: fixed;
  font-family: monospace;
  text-align: center;
}

  .mine-row {
    display: table-row;
  }

    .mine-cell {
      display: table-cell;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border: 2px outset #ddd;
      background: #ddd;
    }

    .mine-cell.revealed {
      background: #ccc;
      border: 1px solid #aaa;
      padding: 1px;
    }

    .mine-cell.mined {
      /* background: #fcc; */
    }