h1 {
  font-family: sans-serif;
  text-align: center;
}

main {
  margin: 0 auto;
  user-select: none;
}

.mine-field {
  display: table;
  table-layout: fixed;
  font-family: monospace;
  text-align: center;
}

.mine-row {
  display: table-row;
}

.mine-cell {
  display: table-cell;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 2px outset #ddd;
  background: #ddd;
}

.mine-cell.revealed {
  background: #ccc;
  border: 1px solid #aaa;
  padding: 1px;
}

.mine-cell.mined {
  /* background: #fcc; */
}